<table id='minhaTabela'>
     <thead>
                    <tr align="center">
                        <th data-field="cod" data-editable="true"></th>
                        <th data-field="cod" data-editable="true">Nro. Nota</th>
                        <th data-field="usuario" data-editable="true">Data</th>
                        <th data-field="login" data-editable="true">Vendedor</th>  
                        <th data-field="login" data-editable="true">Valor</th>
                        <th data-field="cod" data-editable="true">Nro. Único</th>
                        <th data-field="login" data-editable="true"></th>                         
                                                                   
                    </tr>
                </thead>
     <tbody>
         {{#each lista}}
          <tr>
                <td></td>                         
                      <td>{{NUMNOTA}}</td>                      
                      <td>{{DTNEG}}</td> 
                      <td>{{VENDEDOR}}</td> 
                      <td>{{VLRNOTA}}</td>
                      <td>{{NUNOTA}}</td> 
               </tr>
          
        
     </tbody>
     {{/each}}
</table>
<button id="visualizarDados">Visualizar Dados</button>

<script>
    var tabela = document.getElementById("minhaTabela");
var linhas = tabela.getElementsByTagName("tr");

for(var i = 0; i < linhas.length; i++){
	var linha = linhas[i];
  linha.addEventListener("click", function(){
  	//Adicionar ao atual
		selLinha(this, false); //Selecione apenas um
                //selLinha(this, true); //Selecione quantos quiser
	});
}

/**
Caso passe true, você pode selecionar multiplas linhas.
Caso passe false, você só pode selecionar uma linha por vez.
**/
function selLinha(linha, multiplos){
  if(!multiplos){
  	var linhas = linha.parentElement.getElementsByTagName("tr");
        for(var i = 0; i < linhas.length; i++){
           var linha_ = linhas[i];
           linha_.classList.remove("selecionado");    
        }
  }
  linha.classList.toggle("selecionado");
}

/**
Exemplo de como capturar os dados
**/
var btnVisualizar = document.getElementById("visualizarDados");

btnVisualizar.addEventListener("click", function(){
	var selecionados = tabela.getElementsByClassName("selecionado");
  //Verificar se eestá selecionado
  if(selecionados.length < 1){
  	alert("Selecione pelo menos uma linha");
    return false;
  }
  
  var dados = "";
  
  for(var i = 0; i < selecionados.length; i++){
  	var selecionado = selecionados[i];
    selecionado = selecionado.getElementsByTagName("td");
    dados += "ID: " + selecionado[0].innerHTML + " - Nome: " + selecionado[1].innerHTML + " - Idade: " + selecionado[2].innerHTML + "\n";
  }
  
  alert(dados);
});



</script>